@import url("https://fonts.googleapis.com/css2?family=Ruthie&display=swap"); /* Titulo */
@import url("https://fonts.googleapis.com/css2?family=Mali:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Swanky+and+Moo+Moo&display=swap");
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #222429;
  background-image: url(https://www.10wallpaper.com/wallpaper/1366x768/1610/City_drops_splendor_lights_rainy-Bokeh_Photography_Wallpaper_1366x768.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Mali", cursive;
}

code {
}
